body {
  background-color: white;
  position: relative;
}
ul.video-list {
  list-style: none;
}
ul.video-list span.glyphicon {
  cursor: pointer;
}
.video-full {
  display: none;
  position: absolute;
  background-color: yellow;
  top: 0;
  left: 0;
  z-index: 10;
}
